@import "tailwindcss";

/* Tes animations personnalisées ici */
@keyframes slowZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.animate-zoom {
  animation: slowZoom 10s ease-in-out infinite alternate;
}

/* Styles de base pour que le texte ne soit pas collé */
body {
  @apply antialiased text-slate-900 bg-white;
}